.vod {
    &__time {
        bottom: 0;
        font-size: 3em;
        background: #fff;
        left: 50%;
        line-height: 1.5em;
        padding: 0 2em;
        position: absolute;
    }

    &__play {
        left: 50%;
        position: absolute;
        top: 50%;
    }
}
