$accent: #000;

.channel {
    &__scene {
        position: relative;
        display: flex;
        justify-content: center;
        background: lighten($accent, 5%);
    }

    &__player {
        display: inline-block;
        max-width: 720px;
        width: 75%;
    }

    &__info {
        margin: auto;
        padding: 40px;
        max-width: 1200px;
        width: 80%;
        color: lighten($accent, 75%);
    }

    &__title {
        margin-bottom: 20px;
        font-size: 2em;
    }

    &__description {
        line-height: 1.5;
    }
}
