.player {
    width: 100%;
    background: #000;
    position: relative;

    &__layout {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: (9 / 16) * 100%;
    }
}
